<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.cbs.dao.CarinfoMapper" >
  <resultMap id="BaseResultMap" type="com.hy.cbs.domain.Carinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="licence_plate" property="licencePlate" jdbcType="VARCHAR" />
    <result column="carframe_num" property="carframeNum" jdbcType="VARCHAR" />
    <result column="engine_num" property="engineNum" jdbcType="VARCHAR" />
    <result column="insurance_end_time" property="insuranceEndTime" jdbcType="TIMESTAMP" />
    <result column="verification_next_time" property="verificationNextTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brand_id, brand, model_id, model, licence_plate, carframe_num, engine_num, insurance_end_time, 
    verification_next_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_carinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_carinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.cbs.domain.Carinfo" >
    insert into t_carinfo (id, brand_id, brand, 
      model_id, model, licence_plate, 
      carframe_num, engine_num, insurance_end_time, 
      verification_next_time)
    values (#{id,jdbcType=INTEGER}, #{brandId,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, 
      #{modelId,jdbcType=INTEGER}, #{model,jdbcType=VARCHAR}, #{licencePlate,jdbcType=VARCHAR}, 
      #{carframeNum,jdbcType=VARCHAR}, #{engineNum,jdbcType=VARCHAR}, #{insuranceEndTime,jdbcType=TIMESTAMP}, 
      #{verificationNextTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hy.cbs.domain.Carinfo" >
    insert into t_carinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="licencePlate != null" >
        licence_plate,
      </if>
      <if test="carframeNum != null" >
        carframe_num,
      </if>
      <if test="engineNum != null" >
        engine_num,
      </if>
      <if test="insuranceEndTime != null" >
        insurance_end_time,
      </if>
      <if test="verificationNextTime != null" >
        verification_next_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="licencePlate != null" >
        #{licencePlate,jdbcType=VARCHAR},
      </if>
      <if test="carframeNum != null" >
        #{carframeNum,jdbcType=VARCHAR},
      </if>
      <if test="engineNum != null" >
        #{engineNum,jdbcType=VARCHAR},
      </if>
      <if test="insuranceEndTime != null" >
        #{insuranceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verificationNextTime != null" >
        #{verificationNextTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.cbs.domain.Carinfo" >
    update t_carinfo
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="licencePlate != null" >
        licence_plate = #{licencePlate,jdbcType=VARCHAR},
      </if>
      <if test="carframeNum != null" >
        carframe_num = #{carframeNum,jdbcType=VARCHAR},
      </if>
      <if test="engineNum != null" >
        engine_num = #{engineNum,jdbcType=VARCHAR},
      </if>
      <if test="insuranceEndTime != null" >
        insurance_end_time = #{insuranceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verificationNextTime != null" >
        verification_next_time = #{verificationNextTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.cbs.domain.Carinfo" >
    update t_carinfo
    set brand_id = #{brandId,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      model = #{model,jdbcType=VARCHAR},
      licence_plate = #{licencePlate,jdbcType=VARCHAR},
      carframe_num = #{carframeNum,jdbcType=VARCHAR},
      engine_num = #{engineNum,jdbcType=VARCHAR},
      insurance_end_time = #{insuranceEndTime,jdbcType=TIMESTAMP},
      verification_next_time = #{verificationNextTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>