<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.cbs.dao.CheboshiCarlevelMapper" >
  <resultMap id="BaseResultMap" type="com.hy.cbs.domain.CheboshiCarlevel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cheboshi_id" property="cheboshiId" jdbcType="INTEGER" />
    <result column="carlevel_id" property="carlevelId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cheboshi_id, carlevel_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from j_cheboshi_carlevel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from j_cheboshi_carlevel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.cbs.domain.CheboshiCarlevel" >
    insert into j_cheboshi_carlevel (id, cheboshi_id, carlevel_id
      )
    values (#{id,jdbcType=INTEGER}, #{cheboshiId,jdbcType=INTEGER}, #{carlevelId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.cbs.domain.CheboshiCarlevel" >
    insert into j_cheboshi_carlevel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cheboshiId != null" >
        cheboshi_id,
      </if>
      <if test="carlevelId != null" >
        carlevel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cheboshiId != null" >
        #{cheboshiId,jdbcType=INTEGER},
      </if>
      <if test="carlevelId != null" >
        #{carlevelId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.cbs.domain.CheboshiCarlevel" >
    update j_cheboshi_carlevel
    <set >
      <if test="cheboshiId != null" >
        cheboshi_id = #{cheboshiId,jdbcType=INTEGER},
      </if>
      <if test="carlevelId != null" >
        carlevel_id = #{carlevelId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.cbs.domain.CheboshiCarlevel" >
    update j_cheboshi_carlevel
    set cheboshi_id = #{cheboshiId,jdbcType=INTEGER},
      carlevel_id = #{carlevelId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>