<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.cbs.dao.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.hy.cbs.domain.Evaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="join_id" property="joinId" jdbcType="INTEGER" />
    <result column="major_level" property="majorLevel" jdbcType="INTEGER" />
    <result column="attitude_level" property="attitudeLevel" jdbcType="INTEGER" />
    <result column="create_dtm" property="createDtm" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, join_id, major_level, attitude_level, create_dtm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.cbs.domain.Evaluate" >
    insert into t_evaluate (id, type, join_id, 
      major_level, attitude_level, create_dtm
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{joinId,jdbcType=INTEGER}, 
      #{majorLevel,jdbcType=INTEGER}, #{attitudeLevel,jdbcType=INTEGER}, #{createDtm,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.cbs.domain.Evaluate" >
    insert into t_evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="joinId != null" >
        join_id,
      </if>
      <if test="majorLevel != null" >
        major_level,
      </if>
      <if test="attitudeLevel != null" >
        attitude_level,
      </if>
      <if test="createDtm != null" >
        create_dtm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        #{joinId,jdbcType=INTEGER},
      </if>
      <if test="majorLevel != null" >
        #{majorLevel,jdbcType=INTEGER},
      </if>
      <if test="attitudeLevel != null" >
        #{attitudeLevel,jdbcType=INTEGER},
      </if>
      <if test="createDtm != null" >
        #{createDtm,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.cbs.domain.Evaluate" >
    update t_evaluate
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        join_id = #{joinId,jdbcType=INTEGER},
      </if>
      <if test="majorLevel != null" >
        major_level = #{majorLevel,jdbcType=INTEGER},
      </if>
      <if test="attitudeLevel != null" >
        attitude_level = #{attitudeLevel,jdbcType=INTEGER},
      </if>
      <if test="createDtm != null" >
        create_dtm = #{createDtm,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.cbs.domain.Evaluate" >
    update t_evaluate
    set type = #{type,jdbcType=INTEGER},
      join_id = #{joinId,jdbcType=INTEGER},
      major_level = #{majorLevel,jdbcType=INTEGER},
      attitude_level = #{attitudeLevel,jdbcType=INTEGER},
      create_dtm = #{createDtm,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>