<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hy.cbs.dao.WalletMapper" >
  <resultMap id="BaseResultMap" type="com.hy.cbs.domain.Wallet" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="join_id" property="joinId" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="alipay_account" property="alipayAccount" jdbcType="VARCHAR" />
    <result column="share_num" property="shareNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, join_id, money, alipay_account, share_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wallet
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wallet
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hy.cbs.domain.Wallet" >
    insert into t_wallet (id, type, join_id, 
      money, alipay_account, share_num
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{joinId,jdbcType=INTEGER}, 
      #{money,jdbcType=DECIMAL}, #{alipayAccount,jdbcType=VARCHAR}, #{shareNum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hy.cbs.domain.Wallet" >
    insert into t_wallet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="joinId != null" >
        join_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="alipayAccount != null" >
        alipay_account,
      </if>
      <if test="shareNum != null" >
        share_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        #{joinId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="alipayAccount != null" >
        #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="shareNum != null" >
        #{shareNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hy.cbs.domain.Wallet" >
    update t_wallet
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="joinId != null" >
        join_id = #{joinId,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="alipayAccount != null" >
        alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      </if>
      <if test="shareNum != null" >
        share_num = #{shareNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hy.cbs.domain.Wallet" >
    update t_wallet
    set type = #{type,jdbcType=INTEGER},
      join_id = #{joinId,jdbcType=INTEGER},
      money = #{money,jdbcType=DECIMAL},
      alipay_account = #{alipayAccount,jdbcType=VARCHAR},
      share_num = #{shareNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>